<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <% include partials/_header.ejs %>
        <% if(!user) { %>
            <h1>Pleas Login or Register!</h1>
        <% }else { %>
             <ul>
                <% currentUserURLs.forEach((url) => { %>
                    <li><a href="/u/<%= url %>"><%= url %></a> --> <%= urls[url].longURL %></li>
                    <form action="/urls/<%= url %>" method="GET" style="display: inline;">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/urls/<%= url %>/delete" method="POST" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                <% }) %>
            </ul>
            <a href="/urls/new">Create a new short URL</a> 
        <% } %>    
    </body>
</html>